<div class="container_big-card">
  <div class="big-card_img">
    <img
      src="https://miro.medium.com/v2/resize:fit:720/format:webp/1*HdwNFQOaTJBu26gEddg8gw.png "
      alt=""
    />
  </div>

  <div class="big-card_title">
    <h1>
      <a href="">Some big things are happening next week on November 6th 🎉 </a>
    </h1>
  </div>
  <div class="big-card_description">
    <p>
      <a href="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo aut
        ducimus non vero ad est eaque alias ipsa fugit, quasi neque eligendi
        adipisci optio porro nobis quaerat fuga. Dicta, obcaecati? Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Minima ad laborum rem ullam
        quod, nesciunt quasi assumenda minus enim rerum facere quis quae ex
        possimus officiis at animi necessitatibus voluptas
      </a>
    </p>
  </div>
</div>
