<div class="container_small-card">
  <div class="container_smal-card-content">
    <div class="small-card_img">
      <img
        src="https://miro.medium.com/v2/resize:fit:720/format:webp/1*aCsnm9viiL5Fo0JC-I_exQ.png"
        alt=""
      />
    </div>
    <div class="small-card_title">
      <h1>
        <a href="">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, dicta
          ut earum odio, id quod consectetur libero consequatur a ipsum illo
          facilis explicabo minus reprehenderit nulla vel dolor perspiciatis
          quis?
        </a>
      </h1>
    </div>
  </div>
  <div>
    <hr />
  </div>
</div>
